.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    margin-bottom: 2rem;
}

.box{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 14% 86%;
    padding-top: 1rem;
}

.avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    /* margin-top: 1.3rem; */
    font-weight: bolder;
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #eae7e7be;

}

.details{
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
}

.item{
    display: flex;
    border-radius: 11px;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    background-color: #235ff4;
    color: white;
}

.item:hover{
    transform: scale(1.08);
}

.detailsContainer{
    /* margin: 2rem; */
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.name{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.title{
    margin-bottom: 1rem;
    margin-left: .1rem;
    font-weight: bold;
}

.input{
    border: none;
    outline: none;
    background-color: #eae7e7be;
    border-radius: 1rem;
    height: 30px;
    width: 70%;
    padding-left: 1rem;
    padding-top: .2rem;
    padding-bottom: .2rem;
    color: black;
}

.input::placeholder{
    color: rgba(40, 39, 39, 0.584);
}

.confirmation_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar_container {
  margin-top: 5rem;
}

.button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 5rem; */
  width: 12rem;
}

.button_wrapper {
    display: flex;
    justify-content: center;
    width: 12rem;
    margin-top: 4rem;
}


@media (max-width: 821px) {
    .box{
        grid-template-columns: 35% 70%;
    }
}
@media (max-width: 431px) {
    .box{
        grid-template-columns: 40% 70%;
    }
}
@media (max-width: 373px) {
    .box{
        grid-template-columns: 43% 55%;
    }
    .img{
        width: 60%;
        height: 90%;
    }
}
@media (max-width: 360px) {
    .box{
        grid-template-columns: 35% 65%;
    }
    .img{
        width: 70%;
        height: 80%;
    }
    .details{
        margin-top: 0rem;
        margin-bottom: .5rem;
    }
}
