.main {
    display: flex;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-style: normal;
    height: 100%;
    position: fixed;
}

.sidebar{
    width: 19rem;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: fixed;
}

.right{
    display: flex;
    flex-direction: column;
    /* width: calc(100% - 19rem);  */
    /* margin-left: 19rem;  */
    width: 100%;
}

.rest {
    width: 100%;
    display: flex;
}

.title{
    width: 100%;
    height: 80px;
    /* position: fixed; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 25px;
}

.dock {
    margin-top: 4rem;
    width: 100%;
    height: 100%;
}

.menuIcon{
    margin-left: 15px;
}

.detailss{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 340px;
    margin-bottom: 4.2rem;
}

@media (max-width: 768px) {
    .sidebar{
        width: 15rem;
        display: none;
    }
    .right{
        width: 100%;
        /* width: calc(100% - 15rem); */
        margin-left: 0;
    }
    .dock{
        margin-right: 1rem;
    }
    .title{
        justify-content: start;
    }
    .bus{
        margin-left: 7rem;
    }
}

@media (max-width: 431px) {
    .bus{
        margin-left: 6rem;
    }
}
@media (max-width: 391px) {
    .bus{
        margin-left: 5rem;
    }
}
@media (max-width: 361px) {
    .bus{
        margin-left: 3.5rem;
    }
}
@media (max-width: 320px) {
    .bus{
        margin-left: 2.5rem;
    }
}
