.main {
    display: flex;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font-style: normal;
    background-color: aqua;
    height: 100%;
}

.sidebar{
    width: 19rem;
    z-index: 1000;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.rest {
    width: 100%;
    display: flex;
}

.title{
    width: 100%;
    height: 80px;
    /* position: absolute; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 25px;
}

.dock {
    display: flex;
    width: 100%;
    justify-content: center;
}

.detailss{
    margin-top: 4rem;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 340px;
    margin-bottom: 4.2rem;
}