.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: -5rem;
}

.container{
  width: auto;
  background-color: white;
  flex-direction: column;
  height: auto;
  padding: 2rem;
  border-radius: 20px;
}

.title{
  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
  font-weight: bold;
  font-size: 20px;
}

.titlePara{
  display: flex;
  justify-content: center;
}

.username{
  display: flex;
  justify-content: center;
}

.userName{
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  text-decoration: none;
  border: 0px;
  background-color: #F0EDFF;
  width: 100%;
  border-radius: 16px;
  height: 35px;
  padding-left: 1rem;
}

.userName:focus{
  outline: none;
}
.password{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-decoration: none;
  border: 0px;
  background-color: #F0EDFF;
  width: 100%;
  border-radius: 16px;
  height: 35px;
  padding-left: 1rem;
}

.password:focus{
  outline: none;
}

.login{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.button{
  /* height: 40px; */
  margin-bottom: 1rem;
  border-radius: 16px;
  background-color: rgba(0, 0, 255, 0.788);
  font-weight: bolder;
  border: 0px;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
}

.button:hover{
  background-color: rgba(0, 0, 255, 0.6);
}

.or{
  display: flex;
  justify-content: center;
}

.loginWithGoogle{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.google{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  background-color: white;
  border: 1px solid #F0EDFF;
  /* background-color: #e1dfdf; */
  /* padding: 1rem; */
  border-radius: 12px;
  height: 40px;
  width: 100%;
}

.google:hover{
  border: 1px solid #3A6FF8;
}

.error{
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}

@media (max-width: 2560px) {
  .main{
    margin-right: 21rem;
  }
  .container{
    width: 40%;
  }
}
@media (max-width: 1440px) {
  .main{
    margin-right: 18rem;
  }
}
@media (max-width: 1024px) {
  .main{
    width: 100%;
    margin-left: -8rem;
  }
}
@media (max-width: 768px) {
  .main{
    width: auto;
    margin-right: 10rem;
    margin-left: -6rem;
  }
  .container{
    width: auto;
  }
}
@media (max-width: 767px) {
  .main{
    width: auto;
    margin-right: 0;
    margin-left: -0;
  }
  .container{
    width: auto;
  }
}
@media (max-width: 359px) {
  .main{
    width: auto;
    margin-right: 1rem;
    margin-left: 1rem;
  }
  .container{
    width: auto;
  }
}